APP_LOG_FILE=logs/app.log
APP_LOG_LEVEL="DEBUG"
AUDIT_LOG_FILE=logs/audit.log
AUDIT_LOG_LEVEL="INFO"
AUDIT_LOG_PUBLIC_KEY_FILE=
COUNTRY_CODELIST_JSON="Country.json"

# SuiteCRM configuration
CRM_BASE_URL=""
CRM_CLIENT_ID=""
CRM_CLIENT_SECRET=""

DEBUG=True
DJANGO_LOG_LEVEL="WARNING"

# Identity service setup - base URL should include tenant name.
IDENTITY_SERVICE_BASE_URL="https://example.org"
IDENTITY_SERVICE_CLIENT_ID=""
IDENTITY_SERVICE_CLIENT_SECRET=""
IDENTITY_SERVICE_ROLE_ID_IATI_REGISTER_YOUR_DATA="123111-2221-1212-12321232"

LICENCE_JSON="Licence.json"

# OIDC config on the identity service
OIDC_LOG_LEVEL="WARNING"
OIDC_OP_AUTHORIZATION_ENDPOINT=""
OIDC_OP_JWKS_ENDPOINT=""
OIDC_OP_TOKEN_ENDPOINT=""
OIDC_OP_USER_ENDPOINT=""
OIDC_RP_CLIENT_ID=""
OIDC_RP_CLIENT_SECRET=""
ORGANISATION_TYPE_CODELIST_JSON="OrganisationType.json"

# Database - not needed for local developer as SQLite is used.
POSTGRES_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

REGION_CODELIST_JSON="Region.json"
REGISTER_YOUR_DATA_ALLOW_REDIRECTS=False
# The base URL of RYD, including the /api/v1 but no trailing slash. For development, could be 
# dev server or a local instance of RYD
REGISTER_YOUR_DATA_BASE_URL=""
REGISTER_YOUR_DATA_DISCOVERABLE_REPORTING_ORGS_PAGE_SIZE=500
REGISTER_YOUR_DATA_STRIP_AUTH_CHECK=False
REQUESTS_LOG_LEVEL="WARNING"

SERVE_PROM_APP_METRICS=False
SERVER_URL_BASE="http://localhost:8443"