OIDC_RP_CLIENT_ID="asdfasdfdsfdsfds"
OIDC_RP_CLIENT_SECRET="adsf8767s6f8sd67a8fs"
DEBUG=True
SERVER_URL_BASE="https://example.org"
COUNTRY_CODELIST_JSON="country.json"
IDENTITY_SERVICE_BASE_URL="https://example.org"
IDENTITY_SERVICE_CLIENT_ID="adsfsafasfaefasfasf"
IDENTITY_SERVICE_CLIENT_SECRET="asdfafewr34dscfsfsdfsrsw"
IDENTITY_SERVICE_ROLE_ID_IATI_REGISTER_YOUR_DATA="123111-2221-1212-12321232"
