{% extends 'base.html' %}
{% load i18n %}

{% block title %}
IATI Account
{% endblock %}

{% block body %}

<div class="iati-callout iati-callout--red">
{% comment %}Translators: short warning to users that they need to check their email for new account settings{% endcomment %}
  <p>{% blocktranslate %}Your old IATI Registry user account has been migrated to IATI Account. You can sign in with your email address once you have reset your password.{% endblocktranslate %}</p>
  <p>{% blocktranslate %}You should have received an email with instructions on how to do this. If not, please <a href="https://iatistandard.org/en/guidance/get-support/">contact us</a>.{% endblocktranslate %}</p>
</div>

<div style="display:flex;flex-direction: row; align-items: center; flex-wrap: wrap;">
  <div style="flex: 1;">
{% comment %}Translators: Welcome text to the tool {% endcomment %}
    <h1>{% blocktranslate %}Welcome to your IATI Account{% endblocktranslate %}</h1>
    <p>{% blocktranslate %}IATI Account has replaced the IATI Registry. It is where you register with IATI, maintain information about your organisation, and manage your organisation's IATI data files.{% endblocktranslate %}</p>
    <p>{% blocktranslate %}If you use <a href="https://publisher.iatistandard.org/">IATI Publisher</a> you will use your IATI Account credentials to sign in from now on.{% endblocktranslate %}</p>
  </div>

  <div style="display:flex;flex-direction: column; align-items: center;flex: 1;">
    <div style="margin: 10px; background-color: var(--color-teal-90); padding:10px;">
      <div style="display:flex;flex-direction: column; align-items: center;">
        <h1 style="color: white;">Sign in to your IATI Account</h1>
        <form style="display:flex;flex-direction: column; align-items: center;">
          <button class="iati-button iati-button--submit" type="submit"
            formaction="{% url 'oidc_authentication_init' %}">Sign in with
            IATI</button>
          <p style="color: white;">New to IATI? Click below to register as a new user:</p>
          <button class="iati-button iati-button--light" type="submit" formaction="{% url 'oidc_authentication_init' %}">Create account</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}