{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
<script>

</script>
{% endblock %}
{% block title %}
IATI Account: My Data
{% endblock %}

{% block body %}
<h2>My Data</h2>

<div class="iati-callout iati-callout--red">
  <p class="iati-callout__title">There was a problem receiving your records.</p>
  <p>
    {% if ryd_status_code == 400 %}
        Please contact <a href="https://support.iatistandard.org/hc/en-us">IATI Support and tell us that there is a problem with using IATI Account.</a>
    {% elif ryd_status_code == 401 %}
        Please contact <a href="https://support.iatistandard.org/hc/en-us">IATI Support and tell us that there is a problem with using IATI Account.</a>
    {% elif ryd_status_code == 403 %}
        Please contact <a href="https://support.iatistandard.org/hc/en-us">IATI Support and tell us that there is a problem with the permissions on your IATI Account.</a>
    {% elif ryd_status_code == 500 %}
        Please contact <a href="https://support.iatistandard.org/hc/en-us">IATI Support and tell us that there is a problem with using IATI Account.</a>
    {% endif %}
    </p>
</div>

{% endblock %}