{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}

<style>
    .iati-message--role-admin {
        background-color: var(--color-purple-10);
    }

    .iati-message--role-member {
        background-color: var(--color-green-10);
    }

    .iati-message--role-contributor {
        background-color: var(--color-grey-10);
    }
</style>

<script>
    orgFormHasChanges = false;
    userFormHasChanges = false;

    function orgFormChangedAction() {
        orgFormHasChanges = true;
        window.onbeforeunload = function() {return true;};
        document.getElementById("saveOrgChangesButton").style.display = "inline";
        document.getElementById("discardOrgChangesButton").style.display = "inline";
    };

    function discardOrgChangesAction() {
        orgFormHasChanges = false;
        if (!userFormHasChanges) window.onbeforeunload = null;
        document.getElementById("saveOrgChangesButton").style.display = "none";
        document.getElementById("discardOrgChangesButton").style.display = "none";
        document.getElementById("organisationDetailsForm").reset();
    };

    function deleteOrganisationAction() {
        alert("This is not implemented yet");
    };

    function discardUserChangesAction() {
        userFormHasChanges = false;
        if (!orgFormHasChanges) window.onbeforeunload = null;
        document.getElementById("userFormActionButtons").style.display = "none";
        document.getElementById("userForm").reset();
    };

    function userFormChangedAction() {
        userFormHasChanges = true;
        window.onbeforeunload = function() {return true;};
        userRolesFormChanged = true;
        document.getElementById("userFormActionButtons").style.display = "block";
    };
</script>
{% endblock %}
{% block title %}
IATI Account: My Data
{% endblock %}

{% block body %}
<div class="iati-main__before-content">
    {% for error in errors %}
        <div class="iati-callout iati-callout--red">
            <p class="iati-callout__title">{{error.title}}</p>
            <p>{{error.message}}</p>
        </div>
    {% endfor %}

    <h2>{{ form.human_readable_name.value }}</h2>

    <p class="iati-message iati-message--role-{{org.user_role}}">
        You have <span class="iati-message-highlight"></span>{{ org.user_role|upper }}</span> access to this
        organisation.
    </p>

    <div class="iati-figures">
        <ul class="iati-figures__items">
            <li class="iati-figures__item">
                <span href="#" class="iati-figures__content">
                    <span class="iati-figures__label">
                        <span class="iati-figures__label-line">
                            {% if org.registry_approved %}Approved{% else %}Not Approved{% endif %}
                        </span>
                        <span class="iati-figures__label-line">to Publish</span>
                    </span>
                </span>
            </li>
            <li class="iati-figures__item">
                <span href="#" class="iati-figures__content">
                    <span class="iati-figures__label">
                        <span class="iati-figures__label-line">Number of</span>
                        <span class="iati-figures__label-line">Published Datasets</span>
                        <span class="iati-figures__number">{{ org.number_of_published_datasets }}</span>
                    </span>
                </span>
            </li>
            <li class="iati-figures__item">
                <span href="#" class="iati-figures__content">
                    <span class="iati-figures__label">
                        <span class="iati-figures__label-line">First Published</span>
                        <span class="iati-figures__number">{{ org.first_publication_date|date:"d M Y" }}</span>
                    </span>
                </span>
            </li>
        </ul>
    </div>

</div>

<div class="iati-main__content">
    <article class="iati-main__article">

        <div id="organisationInformation" class="iati-section">
            <h2 class="iati-section__title">Organisation Information</h2>
            <form class="iati-form" method="post" id="organisationDetailsForm" action="{% url 'data:reporting-org-detail' oid=org.id %}" onsubmit="window.onbeforeunload = null;" onchange="orgFormChangedAction()">

                {% csrf_token %}
                <div class="iati-form__inner">
                    <div class="iati-form__item">
                        <label for="{{ form.human_readable_name.id_for_label }}" class="iati-form__label">
                            {{ form.human_readable_name.label }}:
                        </label>
                        {{ form.human_readable_name }}
                        <div>
                            {% if form.human_readable_name.errors %} {% for error in form.human_readable_name.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.organisation_type.id_for_label }}" class="iati-form__label">
                            {{ form.organisation_type.label }}:
                        </label>
                        {{ form.organisation_type }}
                        <div>
                            {% if form.organisation_type.errors %} {% for error in form.organisation_type.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.hq_country.id_for_label }}" class="iati-form__label">
                            {{ form.hq_country.label }}:
                        </label>
                        {{ form.hq_country }}
                        <div>
                            {% if form.hq_country.errors %} {% for error in form.hq_country.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.region.id_for_label }}" class="iati-form__label">
                            {{ form.region.label }}:
                        </label>
                        {{ form.region }}
                        <div>
                            {% if form.region.errors %} {% for error in form.region.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.contact_email.id_for_label }}" class="iati-form__label">
                            {{ form.contact_email.label }}:
                        </label>
                        {{ form.contact_email }}
                        <div>
                            {% if form.contact_email.errors %} {% for error in form.contact_email.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.website.id_for_label }}" class="iati-form__label">
                            {{ form.website.label }}:</label>
                        {{ form.website }}
                        <div>
                            {% if form.website.errors %} {% for error in form.website.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.phone.id_for_label }}" class="iati-form__label">
                            {{ form.phone.label }}:
                        </label>
                        {{ form.phone }}
                        <div>
                            {% if form.phone.errors %} {% for error in form.phone.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.address.id_for_label }}" class="iati-form__label">
                            {{ form.address.label }}:
                        </label>
                        {{ form.address }}
                        <div>
                            {% if form.address.errors %} {% for error in form.address.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.description.id_for_label }}" class="iati-form__label">
                            {{ form.description.label }}:
                        </label>
                        {{ form.description }}
                        <div>
                            {% if form.description.errors %} {% for error in form.description.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.data_portal_url.id_for_label }}" class="iati-form__label">
                            {{ form.data_portal_url.label }}:
                        </label>
                        {{ form.data_portal_url }}
                        <div>
                            {% if form.data_portal_url.errors %} {% for error in form.data_portal_url.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.exclusions_policy_url.id_for_label }}" class="iati-form__label">
                            {{ form.exclusions_policy_url.label }}:
                        </label>
                        {{ form.exclusions_policy_url }}
                        <div>
                            {% if form.exclusions_policy_url.errors %} {% for error in form.exclusions_policy_url.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.default_licence_id.id_for_label }}" class="iati-form__label">
                            {{  form.default_licence_id.label }}:
                        </label>
                        {{ form.default_licence_id }}
                        <div>
                            {% if form.default_licence_id.errors %} {% for error in form.default_licence_id.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="{{ form.reporting_source_type.id_for_label }}" class="iati-form__label">
                            {{ form.reporting_source_type.label }}:
                        </label>
                        {{ form.reporting_source_type }}
                        <div>
                            {% if form.reporting_source_type.errors %} {% for error in form.reporting_source_type.errors %}
                                    <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                            {% endfor %} {% endif %}
                        </div>
                    </div>
                    <div class="iati-form__item">
                        <label for="organisationShortName" class="iati-form__label">
                            Organisation short name:
                        </label>
                        <input id="organisationShortName" type="text" class="iati-form__input" style="font-family: roboto mono;" disabled value="{{ org.short_name}}">
                    </div>
                    <div class="iati-form__item">
                        <label for="organisationShortName" class="iati-form__label">
                            Organisation identifier:
                        </label>
                        <input id="organisationIdentifier" type="text" class="iati-form__input" style="font-family: roboto mono;" disabled value="{{ org.organisation_identifier}}">
                    </div>
                </div><br />
                {% if show_org_info_button_box %}
                    <div id="actionButtons" class="iati-form__inner" style="display: block;">
                        <button id="saveOrgChangesButton" class="iati-form__submit iati-button iati-button--submit" type="button"
                            style="display: none;" name="saveOrgChanges" onclick="saveOrgChangesAction()">Save</button>
                        <button id="discardOrgChangesButton" class="iati-button" type="button"
                            style="display: none;" onclick="discardOrgChangesAction()">Discard Changes</button>
                        {% if show_delete_org_button %}
                        <button id="deleteOrganisationButton" class="iati-button iati-button--light" type="button" onclick="deleteOrganisationAction()">Delete Organisation</button>
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>

        <div id="userInformation" class="iati-section iati-section--fill">
            <h2 class="iati-section__title">Users</h2>
            <form method="post" id="userForm" action="{% url 'data:reporting-org-detail' oid=org.id %}" onsubmit="window.onbeforeunload = null;" onchange="userFormChangedAction()">
                {% csrf_token %}
                {{ user_formset.management_form }}
                <div class="iati-table">
                    <table class="iati-table__table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user_form in user_formset %}
                            <tr>
                                <td style="display:none;">{{ user_form.user_id }}</td>
                                <td>{{ user_form.name.value }}</td>
                                <td>{{ user_form.email.value }}</td>
                                <td>{{ user_form.role }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="userFormActionButtons" class="iati-form__inner" style="display: none;">
                    <button id="saveUserChangesButton" class="iati-form__submit iati-button iati-button--submit" type="submit" name="saveUserChanges" >Save Changes</button>
                    <button id="discardUserChangesButton" class="iati-button" type="button" onclick="discardUserChangesAction()">Discard Changes</button>
                </div>
            </form>
        </div>

        <div id="organisationActions" class="iati-section iati-section--fill">
            <h2 class="iati-section__title">Organisation Actions</h2>
        </div>

    </article>

    <aside class="iati-main__side iati-main__side--sticky">
        <nav class="iati-jump-menu">
            <div class="iati-jump-menu__header">
                <h2 class="iati-jump-menu__title">Jump to section</h2>
                <button class="iati-jump-menu__toggle js-jump-menu-toggle" aria-controls="iati-jump-menu-items"
                    aria-expanded="false">
                    Open
                </button>
            </div>
            <ul id="iati-jump-menu-items" class="iati-jump-menu__items js-jump-menu-items" aria-hidden="true">
                <li class="iati-jump-menu__item"><a class="iati-jump-menu__link"
                        href="#organisationInformation">Organisation Information</a></li>
                <li class="iati-jump-menu__item"><a class="iati-jump-menu__link" href="#datasetInformation">Datasets</a>
                </li>
                <li class="iati-jump-menu__item"><a class="iati-jump-menu__link"
                        href="#organisationActions">Organisation Actions</a></li>
            </ul>
        </nav>
    </aside>
</div>
{% endblock %}