{% extends 'base.html' %}
{% load i18n %}

{% block extra_head %}
<style>
</style>

<script>
    orgFormHasChanges = false;
    userFormHasChanges = false;

    function orgFormChangedAction() {
        orgFormHasChanges = true;
        window.onbeforeunload = function() {return true;};
        document.getElementById("saveOrgChangesButton").style.display = "inline";
        document.getElementById("discardOrgChangesButton").style.display = "inline";
    };

    function discardOrgChangesAction() {
        orgFormHasChanges = false;
        if (!userFormHasChanges) window.onbeforeunload = null;
        document.getElementById("saveOrgChangesButton").style.display = "none";
        document.getElementById("discardOrgChangesButton").style.display = "none";
        document.getElementById("organisationDetailsForm").reset();
    };

    function saveOrgChangesAction() {
        window.onbeforeunload = null;
        document.getElementById("organisationDetailsForm").submit();
    }

    function deleteOrganisationShowConfirmationAction() {
        document.getElementById("id_confirm_human_readable_name").value = "";
        document.getElementById("deleteConfirmationModal").showModal();
    };

    function deleteOrganisationCancelAction() {
        document.getElementById("deleteConfirmationModal").close();
    };

    function discardUserChangesAction() {
        userFormHasChanges = false;
        if (!orgFormHasChanges) window.onbeforeunload = null;
        document.getElementById("userFormActionButtons").style.display = "none";
        document.getElementById("userForm").reset();
    };

    function userFormChangedAction() {
        userFormHasChanges = true;
        window.onbeforeunload = function() {return true;};
        userRolesFormChanged = true;
        document.getElementById("userFormActionButtons").style.display = "block";
    };

    function deleteOrganisationCheckInput(org_name) {
        const deleteConfirmationInput = document.getElementById("id_confirm_human_readable_name");
        if (deleteConfirmationInput.value === org_name) {
            document.getElementById("deleteOrganisationButton").disabled = false;
        } else {
            document.getElementById("deleteOrganisationButton").disabled = true;
        };
    };

    function openDatasetPage(el) {
        window.location.assign(el.dataset.href);
    }
</script>
{% endblock %}
{% block title %}
IATI Account: My Data
{% endblock %}

{% block body %}

<dialog id="deleteConfirmationModal" class="iati-account-delete-org-dialog">
    <h2>Confirm deletion</h2>
    <form id="deleteConfirmation" class="iati-form" method="post" action="{% url 'data:delete-organisation' oid=org.oid %}" onsubmit="window.onbeforeunload = null;" onchange="deleteOrganisationCheckInput('{{ org.human_readable_name}}')">
        {% csrf_token %}
        <div class="iati-form__inner">
            <p style="font-weight: 600;">Please type the name of the Reporting Organisation ({{ org.human_readable_name }}) and click below to confirm you want to delete this organisation and all it's datasets.  <span style="font-weight: 800;">This cannot be undone.</span></p>
            {{ delete_form.oid }}
            {{ delete_form.human_readable_name }}
            {{ delete_form.confirm_human_readable_name }}
            <button id="deleteOrganisationButton" class="iati-button iati-button--submit" type="submit" disabled>Delete Organisation</button>
            <button id="cancelDeleteOrganisationButton" class="iati-button" type="button" onclick="deleteOrganisationCancelAction()">Cancel</button>
        </div>
    </form>
</dialog>

<div class="iati-main__before-content">

    {# Messages from previous page loads #}
    <div id="messageContainer">
        {% include 'components/message_viewer.html' %}

        {% for error in errors %}
            <p class="iati-message iati-message--error">
                <span class="iati-message-highlight">{{error.title}}</span><br/>
                {{error.message}}
            </p>
        {% endfor %}
    </div>

    <h2>
        {{ org_form.human_readable_name.value }}
        <br/>
        {% if org.registry_approved %}
            <span class="iati-account-lozenge iati-account-lozenge-green-90">Approved to publish</span>
        {% else %}
            <span class="iati-account-lozenge iati-account-lozenge-orange-90">Not approved to publish</span>
        {% endif %}
    </h2>
    <p>
        {% if this_user.get_role_display|lower == "admin" %}
            You are an <span class="iati-account-lozenge iati-account-lozenge-teal-90">ADMIN</span> for this organisation.
        {% elif this_user.get_role_display|lower == "editor" %}
            You are an <span class="iati-account-lozenge iati-account-lozenge-purple-90">EDITOR</span> for this organisation.
        {% elif this_user.get_role_display|lower == "contributor" %}
            You are an <span class="iati-account-lozenge iati-account-lozenge-grey-90">CONTRIBUTOR</span> for this organisation.
        {% endif %}
        <br/>
    </p>
</div>

<div class="iati-main__content">
<article class="iati-main__article">
    <div>
        <button class="iati-button" onclick="openDatasetPage(this)" data-href="{% url 'data:dataset-list' oid=org.oid %}">View Datasets</button>
    </div>
    <form class="iati-form" method="post" id="organisationDetailsForm" action="{% url 'data:reporting-org-detail' oid=org.oid %}" onsubmit="window.onbeforeunload = null;" onchange="orgFormChangedAction()">
    {% csrf_token %}

    {# Buttons to submit changes, reset changes, and delete organisation #}
    {% if show_org_info_button_box %}
        <div id="actionButtons" class="iati-form__inner" style="display: block;">
            <button id="saveOrgChangesButton" class="iati-form__submit iati-button iati-button--submit" type="submit"
                style="display: none;" name="saveOrgChanges">Save</button>
            <button id="discardOrgChangesButton" class="iati-button" type="button"
                style="display: none;" onclick="discardOrgChangesAction()">Discard Changes</button>
            {% if show_delete_org_button %}
            <button id="deleteOrganisationButton" class="iati-button" type="button" onclick="deleteOrganisationShowConfirmationAction()">Delete Organisation</button>
            {% endif %}
        </div>
    {% endif %}
    <br/>

    {# Summary information for this organisation #}
    <div id="summary" class="iati-section">
        <h3 class="iati-section__title">Summary</h3>
        <div class="iati-form__inner">
            <p>
                {% if org.number_of_published_datasets == 0 %}
                    This organisation has not published any datasets
                {% else %}
                    This organisation has published {{ org.number_of_published_datasets }} datasets and first published on {{ org.first_publication_date|date:"d M Y" }}
                {% endif %}
                <br/>
                <strong>Organisation short name:</strong> <code>{{ org.short_name }}</code><br/>
                <strong>Organisation identifier:</strong> <code>{{ org.organisation_identifier }}</code>
            </p>
        </div>
    </div><br/>

    {# Basic information #}
    <div id="basicInformation" class="iati-section">
        <h3 class="iati-section__title">Basic Organisation Information</h3>
        <div class="iati-form__inner">
            {# Human readable name #}
            <div class="iati-form__item">
                <label for="{{ org_form.human_readable_name.id_for_label }}" class="iati-form__label">
                    {{ org_form.human_readable_name.label }}{% if org_form.human_readable_name.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.human_readable_name }}
                <div>
                    {% if org_form.human_readable_name.errors %} {% for error in org_form.human_readable_name.errors %}
                        <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Organisation type #}
            <div class="iati-form__item">
                <label for="{{ org_form.organisation_type.id_for_label }}" class="iati-form__label">
                    {{ org_form.organisation_type.label }}{% if org_form.organisation_type.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.organisation_type }}
                <div>
                    {% if org_form.organisation_type.errors %} {% for error in org_form.organisation_type.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Country #}
            <div class="iati-form__item">
                <label for="{{ org_form.hq_country.id_for_label }}" class="iati-form__label">
                    {{ org_form.hq_country.label }}{% if org_form.hq_country.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.hq_country }}
                <div>
                    {% if org_form.hq_country.errors %} {% for error in org_form.hq_country.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Region #}
            <div class="iati-form__item">
                <label for="{{ org_form.region.id_for_label }}" class="iati-form__label">
                    {{ org_form.region.label }}{% if org_form.region.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.region }}
                <div>
                    {% if org_form.region.errors %} {% for error in org_form.region.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div><br/>

    {# Contact information #}
    <div id="contactInformation" class="iati-section">
        <h3 class="iati-section__title">Contact Information</h3>
        <div class="iati-form__inner">
            {# Contact email address #}
            <div class="iati-form__item">
                <label for="{{ org_form.contact_email.id_for_label }}" class="iati-form__label">
                    {{ org_form.contact_email.label }}{% if org_form.contact_email.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.contact_email }}
                <div>
                    {% if org_form.contact_email.errors %} {% for error in org_form.contact_email.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Phone number #}
            <div class="iati-form__item">
                <label for="{{ org_form.phone.id_for_label }}" class="iati-form__label">
                    {{ org_form.phone.label }}{% if org_form.phone.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.phone }}
                <div>
                    {% if form.phone.errors %} {% for error in form.phone.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Fax number #}
            <div class="iati-form__item">
                <label for="{{ org_form.fax.id_for_label }}" class="iati-form__label">
                    {{ org_form.fax.label }}{% if org_form.fax.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.fax }}
                <div>
                    {% if form.fax.errors %} {% for error in form.fax.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Address #}
            <div class="iati-form__item">
                <label for="{{ org_form.address.id_for_label }}" class="iati-form__label">
                    {{ org_form.address.label }}{% if org_form.address.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.address }}
                <div>
                    {% if org_form.address.errors %} {% for error in org_form.address.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div><br/>

    {# Detailed metadata about the organisation #}
    <div id="detailedInformation" class="iati-section">
        <h3 class="iati-section__title">More detailed information about your organisation</h3>
        <div class="iati-form__inner">
            {# Description #}
            <div class="iati-form__item">
                <label for="{{ org_form.description.id_for_label }}" class="iati-form__label">
                    {{ org_form.description.label }}{% if org_form.description.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.description }}
                <div>
                    {% if org_form.description.errors %} {% for error in org_form.description.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Data portal URL #}
            <div class="iati-form__item">
                <label for="{{ org_form.data_portal_url.id_for_label }}" class="iati-form__label">
                    {{ org_form.data_portal_url.label }}{% if org_form.data_portal_url.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.data_portal_url }}
                <div>
                    {% if org_form.data_portal_url.errors %} {% for error in org_form.data_portal_url.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Organisation website #}
            <div class="iati-form__item">
                <label for="{{ org_form.website.id_for_label }}" class="iati-form__label">
                    {{ org_form.website.label }}{% if org_form.website.field.required %} <strong>(*)</strong>{% endif %}:</label>
                {{ org_form.website }}
                <div>
                    {% if org_form.website.errors %} {% for error in org_form.website.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div><br/>

    {# Publishing information #}
    <div id="publishingInformation" class="iati-section">
        <h3 class="iati-section__title">How you publish</h3>
        <div class="iati-form__inner">
            {# Exclusions policy URL #}
            <div class="iati-form__item">
                <label for="{{ org_form.exclusions_policy_url.id_for_label }}" class="iati-form__label">
                    {{ org_form.exclusions_policy_url.label }}{% if org_form.exclusions_policy_url.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.exclusions_policy_url }}
                <div>
                    {% if org_form.exclusions_policy_url.errors %} {% for error in org_form.exclusions_policy_url.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Default licence #}
            <div class="iati-form__item">
                <label for="{{ org_form.default_licence_id.id_for_label }}" class="iati-form__label">
                    {{  org_form.default_licence_id.label }}{% if org_form.default_licence_id.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.default_licence_id }}
                <div>
                    {% if org_form.default_licence_id.errors %} {% for error in org_form.default_licence_id.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
            {# Reporting source type #}
            <div class="iati-form__item">
                <label for="{{ org_form.reporting_source_type.id_for_label }}" class="iati-form__label">
                    {{ org_form.reporting_source_type.label }}{% if org_form.reporting_source_type.field.required %} <strong>(*)</strong>{% endif %}:
                </label>
                {{ org_form.reporting_source_type }}
                <div>
                    {% if org_form.reporting_source_type.errors %} {% for error in org_form.reporting_source_type.errors %}
                            <span class="iati-account-lozenge iati-account-lozenge-red-90">{{ error }}</span>
                    {% endfor %} {% endif %}
                </div>
            </div>
        </div>
    </div>
    </form>

    <div id="userInformation" class="iati-section iati-section--fill">
        <h2 class="iati-section__title">Users</h2>
        <form method="post" id="userForm" action="{% url 'data:reporting-org-detail' oid=org.oid %}" onsubmit="window.onbeforeunload = null;" onchange="userFormChangedAction()">
            {% csrf_token %}
            {{ user_formset.management_form }}
            <div class="iati-table">
                <table class="iati-table__table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_form in user_formset %}
                        {% if user_form.role != "provider_admin" %}
                        <tr>
                            <td style="display:none;">{{ user_form.uid }}</td>
                            <td style="display:none;">{{ user_form.oid }}</td>
                            <td>{{ user_form.name }} {{ user_form.name.value }}</td>
                            <td>{{ user_form.email }} {{ user_form.email.value }}</td>
                            <td>{{ user_form.role }}</td>
                            <td>{{ user_form.DELETE }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="userFormActionButtons" class="iati-form__inner" style="display: none;">
                <button id="saveUserChangesButton" class="iati-form__submit iati-button iati-button--submit" type="submit" name="saveUserChanges" >Save Changes</button>
                <button id="discardUserChangesButton" class="iati-button" type="button" onclick="discardUserChangesAction()">Discard Changes</button>
            </div>
        </form>
    </div><br/>

    </article>

    {# Side menu providing quick links to different parts of the page #}
    <aside class="iati-main__side iati-main__side--sticky">
        <nav class="iati-jump-menu">
            <div class="iati-jump-menu__header">
                <h2 class="iati-jump-menu__title">Jump to section</h2>
                <button class="iati-jump-menu__toggle js-jump-menu-toggle" aria-controls="iati-jump-menu-items"
                    aria-expanded="false">
                    Open
                </button>
            </div>
            <ul id="iati-jump-menu-items" class="iati-jump-menu__items js-jump-menu-items" aria-hidden="true">
                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#actionButtons">Actions</a>
                </li>
                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#summary">Summary</a>
                </li>

                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#basicInformation">Basic Information</a>
                </li>

                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#contactInformation">Contact Information</a>
                </li>

                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#detailedInformation">Detailed Information</a>
                </li>

                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#publishingInformation">Publishing Information</a>
                </li>
                <li class="iati-jump-menu__item">
                    <a class="iati-jump-menu__link" href="#userInformation">View/Edit Users</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
{% endblock %}