{% if this_user.role == "admin" %}
    an <span class="iati-account-lozenge iati-account-lozenge-teal-90">ADMIN</span>.
{% elif this_user.role == "editor" %}
    an <span class="iati-account-lozenge iati-account-lozenge-purple-90">EDITOR</span>.
{% elif this_user.role == "contributor" %}
    a <span class="iati-account-lozenge iati-account-lozenge-grey-90">CONTRIBUTOR</span>.
{% elif this_user.role == "super_admin" %}
    a <span class="iati-account-lozenge iati-account-lozenge-red-90">SUPERADMIN</span>.
{% elif this_user.role == "provider_admin" %}
    a <span class="iati-account-lozenge iati-account-lozenge-red-90">PROVIDER ADMIN</span>.
{% endif %}
