{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/iati-design-system@4.9.0/dist/css/iati.min.css" rel="stylesheet" />
    <link href="{% static 'iati-account.css' %}" rel="stylesheet" />

    <style>
      :root {
        --icon-incomplete: url("{% static 'img/icon-right-double-chevron.svg' %}");
        --icon-complete: url("{% static 'img/icon-tick.svg' %}");
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/iati-design-system@4.5.1/dist/js/iati.js"></script>

    <!-- Privacy-friendly analytics by Plausible -->
    <script async src="https://plausible.io/js/pa-DMCWMNhG5ofGba9NFvGGJ.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>

    {% block extra_head %}
    {% endblock %}

    <link rel="icon" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" type="image/png" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/ico" />

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body class="iati-design-system--enabled">
    <div class="iati-mobile-nav js-iati-mobile-nav">
      <div class="iati-mobile-nav__overlay js-iati-mobile-overlay"></div>
      <nav class="iati-mobile-nav__menu">
        <div class="iati-mobile-nav__header">
          <h2 class="iati-mobile-nav__label">Menu</h2>

          <button class="iati-menu-toggle iati-menu-toggle--close js-iati-menu-toggle-close"><span>Close</span></button>
        </div>
        {% if user.is_authenticated %}
          <ul class="">
            <li class="iati-mobile-nav__item">
              <a href="{% url 'welcome:home' %}" class="iati-mobile-nav__link">Home</a>
            </li>
            <li class="iati-mobile-nav__item">
              <a href="{% url 'account:home' %}" class="iati-mobile-nav__link">My Account</a>
            </li>
            <li class="iati-mobile-nav__item">
              <a href="{% url 'data:home' %}" class="iati-mobile-nav__link">My Data</a>
            </li>
            {% if user.is_iati_superadmin %}
              <li class="iati-mobile-nav__item">
                <a href="{% url 'superadmin:home' %}" class="iati-mobile-nav__link">Superadmin</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
        <ul class="">
          <li class="iati-mobile-nav__item">
            <a href="https://iatistandard.org/en/about/" class="iati-mobile-nav__link">About IATI</a>
          </li>
          <li class="iati-mobile-nav__item">
            <a href="https://iatistandard.org/en/using-data/" class="iati-mobile-nav__link">Use Data</a>
          </li>
          <li class="iati-mobile-nav__item">
            <a href="https://iatistandard.org/en/guidance/publishing-data/" class="iati-mobile-nav__link">Publish Data</a>
          </li>
          <li class="iati-mobile-nav__item">
            <a href="https://iatistandard.org/guidance/get-support/" class="iati-mobile-nav__link">Contact</a>
          </li>
          <li class="iati-mobile-nav__item">
            {% if user.is_authenticated %}
            <p>
              Signed in user:<br/> {{ user.email }}
            </p>
            <form method="post" action="{% url 'oidc_logout' %}">
                {% csrf_token %}
                <a class="iati-mobile-nav__link" onclick="this.parentNode.submit();">Logout</a>
              </form>
            {% else %}
              <a href="{% url 'oidc_authentication_init' %}" class="iati-mobile-nav__link">Login</a>
            {% endif %}
          </li>
          <li class="iati-mobile-nav__item">
            <a href="https://docs.account.iatistandard.org/en/latest/" class="iati-mobile-nav__link">Help Docs</a>
          </li>
        </ul>
      </nav>
    </div>

    <header class="iati-header">
      <div class="iati-header__section iati-header__section--first">
        <div class="iati-header__container">
          <a href="https://iatistandard.org/" aria-label="Go to IATI homepage"><img class="iati-header__logo" alt="" src="https://iati.github.io/design-system/assets/logo-colour-Bag5CeA4.svg" /></a>

          <nav class="iati-header__general-nav">
            <ul class="iati-piped-list">
              <li>
                <a href="https://iatistandard.org/en/about/">About IATI</a>
              </li>
              <li>
                <a href="https://iatistandard.org/en/using-data/">Use Data</a>
              </li>
              <li>
                <a href="https://iatistandard.org/en/guidance/publishing-data/">Publish Data</a>
              </li>
              <li>
                <a href="https://iatistandard.org/guidance/get-support/">Contact</a>
              </li>
              <li>
                {% if user.is_authenticated %}
                  <form action="{% url 'oidc_logout' %}" method="post">
                    {% csrf_token %}
                    <div class="iati-account-user">
                      <div class="iati-account-user--icon">
                        <img src="{% static 'img/icon-user.svg' %}" style="width: 20px; height:20px;"/>
                      </div>
                      <div class="iati-account-user--stack">
                        <div>
                          <span class="iati-account-user--name">{{ user.unformatted_name }}</span>
                        </div>
                        <div>
                          <span class="iati-account-user--email title="{{ user.email }}"><strong> {{user.email }}</strong></span>
                        </div>
                      </div>
                      <div>
                        <button class="iati-button iati-button--logout" type="submit">Logout</button>
                      </div>
                    </div>
                  </form>
                {% else %}
                  <form>
                    {% csrf_token %}
                    <button formaction="{% url 'oidc_authentication_init' %}" class="iati-button iati-button--submit iati-button--compact" type="submit">Login</button>
                  </form>
                {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="iati-header__section iati-header__section--last iati-brand-background">
        <div class="iati-header__container iati-brand-background__content">
          <div class="iati-header__actions">
            {% include 'components/language_switcher.html' %}
            <button class="iati-button iati-button--light hide--mobile-nav" onclick="window.location.assign('https://docs.account.iatistandard.org/en/latest/')">
              <span>Help Docs</span>
              <i class="iati-icon iati-icon--info"></i>
            </button>
            <button class="iati-button iati-button--light">
              <span>Search</span>
              <i class="iati-icon iati-icon--search"></i>
            </button>

            <button class="iati-menu-toggle iati-menu-toggle--open js-iati-menu-toggle-open"><span class="iati-menu-toggle__label">Menu</span></button>
          </div>

          <div class="iati-header-title">
            <p class="iati-header-title__eyebrow">IATI Tools</p>
            <p class="iati-header-title__heading">IATI Account</p>
          </div>

          {% if user.is_authenticated %}
            <div class="iati-header__nav">
              <nav>
                <ul class="iati-tool-nav">
                  <li>
                    <a href="{% url 'welcome:home' %}" class="iati-tool-nav-link">Home</a>
                  </li>
                  <li>
                    <a href="{% url 'account:home' %}" class="iati-tool-nav-link">My Account</a>
                  </li>
                  <li>
                    <a href="{% url 'data:home' %}" class="iati-tool-nav-link">My Data</a>
                  </li>
                  {% if user.is_iati_superadmin %}
                    <li>
                      <a href="{% url 'superadmin:home' %}" class="iati-tool-nav-link">Superadmin</a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          {% endif %}
        </div>
      </div>
    </header>


    <main class="iati-main">

      {% block breadcrumbs %}
      {% endblock %}
      {% block body %}
      {% endblock %}

    </main>
    <footer class="iati-footer iati-brand-background">
    <div class="iati-brand-background__content">
  
  <div class="iati-footer__section iati-footer__section--first">
    <div class="iati-footer__container">
      <div class="iati-footer-block">
        <h2 class="iati-footer-block__title">Additional Information</h2>
        <div class="iati-footer-block__content">
          <div>
            <p><a href="https://github.com/iati/iati-account-web">IATI Account Web</a> (v{{IATI_ACCOUNT_VERSION}}) is part of the IATI Unified Platform and the code is licenced under
              <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU AGPL</a>.
            </p>
            <p>Please report bugs and request features using <a href="https://github.com/IATI/iati-account-web/issues">GitHub issues</a> or via <a href="https://iatistandard.org/en/guidance/get-support/">IATI Support</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="iati-footer__section iati-footer__section--last">
    <div class="iati-footer__container">
      <nav>
        <ul class="iati-piped-list iati-footer__legal-nav">
          <li><a href="https://web-terms.iatistandard.org/en/latest/privacy-policy/">Privacy</a></li><li><a href="https://web-terms.iatistandard.org/en/latest/cookie-policy/">Cookies</a></li><li><a href="https://web-terms.iatistandard.org/en/latest/copyright/">Copyright</a></li><li><a href="https://web-terms.iatistandard.org/en/latest/data-removal/">Data Removal</a></li>
        </ul>
      </nav>
      {% include 'components/language_switcher.html' %}
      <div class="iati-footer__social">
        <a href="https://www.linkedin.com/company/international-aid-transparency-initiative/" aria-label="LinkedIn">
          <i class="iati-icon iati-icon--linkedin"></i>
        </a>
        <a href="https://x.com/IATI_aid" aria-label="X">
          <i class="iati-icon iati-icon--x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCAVH1gcgJXElsj8ENC-bDQQ" aria-label="YouTube">
          <i class="iati-icon iati-icon--youtube"></i>
        </a>
        <a href="https://www.facebook.com/IATIaid/" aria-label="Facebook">
          <i class="iati-icon iati-icon--facebook"></i>
        </a>
      </div>
    </div>
  </div>
</div>
  </footer>
  </body>
</html>
