{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block title %}
IATI Account: Welcome to your new IATI Account
{% endblock %}

{% block breadcrumbs %}
<nav class="iati-breadcrumb">
  <span class="iati-breadcrumb__previous">
    <i class="iati-icon iati-icon--chevron-left"></i>
    <a href="{% url 'welcome:home' %}" class="iati-breadcrumb-link">Home</a>
  </span>
  <ol class="iati-breadcrumb__list">
    <li class="iati-breadcrumb-pageTitle">
          <a href="{% url 'welcome:home' %}" class="iati-breadcrumb-link">Home</a>
        </li> <li class="iati-breadcrumb-pageTitle">
          <a href="{% url 'account:home' %}" class="iati-breadcrumb-link">My Account</a>
        </li> 
    <li class="iati-breadcrumb-item iati-breadcrumb-item--current">
      <a aria-current="page" class="iati-breadcrumb-link">Welcome to your new IATI Account</a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<h2>Welcome to your new IATI Account</h2>
{% if user.use_cases_migration %}
    <p>We have created a user account for you as you were previously registered on the IATI Registry and/or IATI Publisher.</p>
    <p>Help us check the information we have about you by completing the questions below. This will help us improve our services and support you better.</p>
{% endif %}

{% include 'components/message_viewer.html' %}

<form class="iati-form" method="post" action="{% url 'account:onboarding' %}" id="onboardingForm">
    {% csrf_token %}
    <div class="iati-form__inner">
        <div class="iati-form__item">
            <label for="userEmail" class="iati-form__label">Email address: {{ user.email }}</label>
        </div>
    </div><br/>
    <div class="iati-form__inner">
        <h3>Your name</h3>
        {% if user.use_cases_migration %}
            <p>As part of migrating your account from the old IATI Registry we've extracted the following for your name.  Please check your name and let us know how you want to be addressed.</p>
        {% else %}
            <p>Please check your name and let us know how you want to be addressed.</p>
        {% endif %}
        <div class="iati-form__item">
            <label for="{{ form.unformatted_name.id_for_label }}" class="iati-form__label">{{ form.unformatted_name.label }}:</label>
            {{ form.unformatted_name }}
        </div>
        <div class="iati-form__item">
            <label for="{{ form.online_name.id_for_label }}" class="iati-form__label">{{ form.online_name.label }}:</label>
            {{ form.online_name }}
        </div>
    </div><br/>

    <div class="iati-form__inner" id="firstRegistrationUseCases">
        {% if user.use_cases_migration %}
            <h3>What will you use your IATI Account for?</h3>
        {% else %}
            <h3>Why have you registered with IATI?</h3>
        {% endif %}
        <p>This will help us signpost you to the most relevant services.</p>

        {% for field in form.use_case_fields %}
            <div class="iati-form__item">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div>
                        {{ field }}
                    </div>
                    <div>
                        <label for="{{ field.id_for_label }}" class="iati-form__label">{{ field.label }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><br/>


    <div class="iati-form__inner" id="preferredLanguages">
        <h3>Which languages are you able to use?</h3>
        <p>This informs how we make our services accessible to you.</p>
        {% for field in form.language_fields %}
            <div class="iati-form__item">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div>
                        {{ field }}
                    </div>
                    <div>
                        <label for="{{ field.id_for_label }}" class="iati-form__label">{{ field.label }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><br/>

    <div class="iati-form__inner" id="locale">
        <h3>Where are you located in the world?</h3>
        <p>This helps us understand the geographical reach of IATI and where you’re based.</p>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.country.id_for_label }}" class="iati-select__label">
                    {{ form.country.label  }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.country}}
                </div> 
            </div>
        </div>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.timezone.id_for_label }}" class="iati-select__label">
                    {{ form.timezone.label }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.timezone}}
                </div> 
            </div>
        </div>
    </div><br/>

    <div id="actionButtons" class="iati-form__inner">
        <button class="iati-form__submit iati-button iati-button--submit" type="submit">Save</button>
    </div>
</form>

{% endblock %}