{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block title %}
IATI Account: Welcome to your new IATI Account
{% endblock %}

{% block body %}
<h2>Welcome to your new IATI Account</h2>

{% if detail_update %}
<div id="detailUpdateCallout" class="iati-callout {% if detail_update_ok %} iati-callout--green {% else %} iati-callout--red {% endif %}">
  <p class="iati-callout__title">{{ detail_update_text }}</p>
</div><br/>
{% endif %}

<form class="iati-form" method="post" action="{% url 'account:onboarding' %}" id="onboardingForm">
    {% csrf_token %}
    <div class="iati-form__inner">
        <div class="iati-form__item">
            <label for="userEmail" class="iati-form__label">Email address: {{ user.email }}</label>
        </div>
    </div><br/>
    <div class="iati-form__inner">
        <h3>Your name</h3>
        <p>You've told us that your full name is as below, feel free to change it now if you require.  We would also like a short version of your name that we can use when we email you.</p>
        <p style="font-size: 0.8rem;">For example, your full name could be Dr. Zinhle Mhlongwane, but in everyday informal work you may prefer people to call you Zee.  In this case you could set your online name to Zee.</p>
        <div class="iati-form__item">
            <label for="{{ form.unformatted_name.id_for_label }}" class="iati-form__label">{{ form.unformatted_name.label }}:</label>
            {{ form.unformatted_name }}
        </div>
        <div class="iati-form__item">
            <label for="{{ form.online_name.id_for_label }}" class="iati-form__label">{{ form.online_name.label }}:</label>
            {{ form.online_name }}
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3>Mailing list subscriptions</h3>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.mailinglist_subscriber }}
                </div>
                <div>
                    <label for="{{ form.mailinglist_subscriber.id_for_label }}" class="iati-form__label">{{ form.mailinglist_subscriber.label }}</label>
                </div>
            </div>
        </div>
    </div><br/>

    <div class="iati-form__inner" id="firstRegistrationUseCases">
        <h3>We would like to know why you'd like to create an IATI account</h3>
        <p>This will help us improve our services and tools and build IATI.</p>

        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.use_cases_mailinglist }}
                </div>
                <div>
                    <label for="{{ form.use_cases_mailinglist.id_for_label }}" class="iati-form__label">{{ form.use_cases_mailinglist.label }}</label>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.use_cases_publishing }}
                </div>
                <div>
                    <label for="{{ form.use_cases_publishing.id_for_label }}" class="iati-form__label">{{ form.use_cases_publishing.label }}</label>
                </div>
            </div>
        </div>
    </div><br/>

    <div class="iati-form__inner" id="preferredLanguages">
        <h3>We would like to know what languages you are able to use</h3>
        <p>This will help us when we need to contact you.</p>

        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.language_en }}
                </div>
                <div>
                    <label for="{{ form.language_en.id_for_label }}" class="iati-form__label">{{ form.language_en.label }}</label>
                </div>
            </div>
        </div>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.language_fr }}
                </div>
                <div>
                    <label for="{{ form.language_fr.id_for_label }}" class="iati-form__label">{{ form.language_fr.label }}</label>
                </div>
            </div>
        </div>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.language_es }}
                </div>
                <div>
                    <label for="{{ form.language_es.id_for_label }}" class="iati-form__label">{{ form.language_es.label }}</label>
                </div>
            </div>
        </div>
    </div><br/>

    <div class="iati-form__inner" id="locale">
        <h3>We would like to know where are you located in the world</h3>
        <p>This will help us know about the geographical reach of IATI and what your time zone is when we contact you.</p>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.country.id_for_label }}" class="iati-select__label">
                    {{ form.country.label  }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.country}}
                </div> 
            </div>
        </div>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.timezone.id_for_label }}" class="iati-select__label">
                    {{ form.timezone.label }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.timezone}}
                </div> 
            </div>
        </div>
    </div><br/>

    <div id="actionButtons" class="iati-form__inner">
        <button class="iati-form__submit iati-button iati-button--submit" type="submit">Save</button>
    </div>
</form>

{% endblock %}