{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block title %}
IATI Account: My Account
{% endblock %}

{% block breadcrumbs %}
<nav class="iati-breadcrumb">
  <span class="iati-breadcrumb__previous">
    <i class="iati-icon iati-icon--chevron-left"></i>
    <a href="{% url 'welcome:home' %}" class="iati-breadcrumb-link">Home</a>
  </span>
  <ol class="iati-breadcrumb__list">
    <li class="iati-breadcrumb-pageTitle">
        <a href="{% url 'welcome:home' %}" class="iati-breadcrumb-link">Home</a>
    </li>
    <li class="iati-breadcrumb-item iati-breadcrumb-item--current">
        <a aria-current="page" class="iati-breadcrumb-link">My Account</a>
    </li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<h2>My Account</h2>

{% include 'components/message_viewer.html' %}

<form class="iati-form" method="post" action="{% url 'account:home' %}" onchange="accountDetailsChanged()" id="accountDetailsForm">

    {% csrf_token %}
    <div class="iati-form__inner">
        <div class="iati-form__item">
            <label for="userEmail" class="iati-form__label">Email address: {{ user.email }}</label>
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3 id="names">Your name</h3>
        <p>Please check your name and let us know how you want to be addressed.</p>
        <div class="iati-form__item">
            <label for="{{ form.unformatted_name.id_for_label }}" class="iati-form__label">{{ form.unformatted_name.label }}:</label>
            {{ form.unformatted_name }}
        </div>
        <div class="iati-form__item">
            <label for="{{ form.inperson_name.id_for_label }}" class="iati-form__label">{{ form.inperson_name.label }}</label>
            {{ form.inperson_name }}
        </div>
        <div class="iati-form__item">
            <label for="{{ form.online_name.id_for_label }}" class="iati-form__label">{{ form.online_name.label }}</label>
            {{ form.online_name }}
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3 id="langauges">Which languages are you able to use?</h3>
        <p>This informs how we make our services accessible to you.</p>

        {% for field in form.language_fields %}
            <div class="iati-form__item">
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div>
                        {{ field }}
                    </div>
                    <div>
                        <label for="{{ field.id_for_label }}" class="iati-form__label">{{ field.label }}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><br/>

    <div class="iati-form__inner">
        <h3 id="geolocation">Where are you located in the world?</h3>
        <p>This helps us understand the geographical reach of IATI and where you’re based.</p>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.country.id_for_label }}" class="iati-select__label">
                    {{ form.country.label  }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.country}}
                </div> 
            </div>
        </div>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.timezone.id_for_label }}" class="iati-select__label">
                    {{ form.timezone.label }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.timezone}}
                </div> 
            </div>
        </div>
    </div><br/>

    <div id="actionButtons" class="iati-form__inner" style="display: none;">
        <button class="iati-form__submit iati-button iati-button--submit" type="button" onclick="submitAccountChanges()">Save</button>
        <button id="discardChanges" class="iati-button" type="button" onclick="discardAccountChanges()">Discard changes</button>
    </div>
</form>


{% endblock %}