{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block title %}
IATI Account: My Account
{% endblock %}

{% block body %}
<h2>My Account</h2>

{% include 'components/message_viewer.html' %}

<form class="iati-form" method="post" action="{% url 'account:home' %}" onchange="accountDetailsChanged()" id="accountDetailsForm">

    {% csrf_token %}
    <div class="iati-form__inner">
        <div class="iati-form__item">
            <label for="userEmail" class="iati-form__label">Email address: {{ user.email }}</label>
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3>Your name</h3>
        <p>Please check your name and let us know how you want to be addressed.</p>
        <div class="iati-form__item">
            <label for="{{ form.unformatted_name.id_for_label }}" class="iati-form__label">{{ form.unformatted_name.label }}:</label>
            {{ form.unformatted_name }}
        </div>
        <div class="iati-form__item">
            <label for="{{ form.inperson_name.id_for_label }}" class="iati-form__label">{{ form.inperson_name.label }}</label>
            {{ form.inperson_name }}
        </div>
        <div class="iati-form__item">
            <label for="{{ form.online_name.id_for_label }}" class="iati-form__label">{{ form.online_name.label }}</label>
            {{ form.online_name }}
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3>Which languages are you able to use?</h3>
        <p>This informs how we make our services accessible to you.</p>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.language_en }}
                </div>
                <div>
                    <label for="{{ form.language_en.id_for_label }}" class="iati-form__label">{{ form.language_en.label }}</label>
                </div>
            </div>
        </div>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.language_fr }}
                </div>
                <div>
                    <label for="{{ form.language_fr.id_for_label }}" class="iati-form__label">{{ form.language_fr.label }}</label>
                </div>
            </div>
        </div>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.language_es }}
                </div>
                <div>
                    <label for="{{ form.language_es.id_for_label }}" class="iati-form__label">{{ form.language_es.label }}</label>
                </div>
            </div>
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3>Where are you located in the world?</h3>
        <p>This helps us understand the geographical reach of IATI and where you’re based.</p>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.country.id_for_label }}" class="iati-select__label">
                    {{ form.country.label  }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.country}}
                </div> 
            </div>
        </div>
        <div class="iati-form__item">
            <div class="iati-select">
                <label for="{{ form.timezone.id_for_label }}" class="iati-select__label">
                    {{ form.timezone.label }}
                </label>
                <div class="iati-select__control-wrapper">
                    {{ form.timezone}}
                </div> 
            </div>
        </div>
    </div><br/>

    <div class="iati-form__inner">
        <h3>Which mailing lists do you want to subscribe to?</h3>
        <div class="iati-form__item">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <div>
                    {{ form.mailinglist_subscriber }}
                </div>
                <div>
                    <label for="{{ form.mailinglist_subscriber.id_for_label }}" class="iati-form__label">{{ form.mailinglist_subscriber.label }}</label>
                </div>
            </div>
        </div>
    </div><br/>

    <div id="actionButtons" class="iati-form__inner" style="display: none;">
        <button class="iati-form__submit iati-button iati-button--submit" type="button" onclick="submitAccountChanges()">Save</button>
        <button id="discardChanges" class="iati-button" type="button" onclick="discardAccountChanges()">Discard changes</button>
    </div>
</form>


{% endblock %}